/META-INF/
/builddef.lst
/cas-theme-default.properties
/default_views.properties
/log4j.xml
/messages_ar.properties
/messages_ca.properties
/messages_cs.properties
/messages_de.properties
/messages_en.properties
/messages_es.properties
/messages_fa.properties
/messages_fr.properties
/messages_hr.properties
/messages_it.properties
/messages_ja.properties
/messages_mk.properties
/messages_nl.properties
/messages_pl.properties
/messages_pt_BR.properties
/messages_pt_PT.properties
/messages_ru.properties
/messages_sl.properties
/messages_sv.properties
/messages_tr.properties
/messages_ur.properties
/messages_zh_CN.properties
/messages_zh_TW.properties
/org/
/protocol_views.properties
